<title>GW2 TP</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.js"></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-sanitize.js'></script>
<style>
	body {
		background: #444444;
		color: white;
	}

	a {
		color: lightblue
	}

	a:visited {
		color: violet
	}

	button {
		width: 200px;
	}

	progress {
		width: 100%;
	}

	.getCraftingLevels {
		height: 49px;
		vertical-align: top;
	}

	.discipline {
		display: inline-block;
		margin: 1px;
	}

	.discipline input[type=checkbox] {
		display: none;
	}

	.discipline input[type=checkbox]:checked+label {
		background: lightgreen;
		color: black;
	}

	.discipline label {
		display: block;
		background: red;
		color: white;
		border-radius: 15px 15px 0 0;
		padding: 5px;
		width: 90px;
		text-align: center;
	}

	.discipline input[type=number] {
		width: 100px;
		text-align: center;
	}

	thead {
		position: sticky;
		top: 0;
		background: #444444;
	}

	tr:last-child th,
	th:last-child {
		border-bottom: 5px solid black;
	}

	thead tr:first-child>*,
	tbody:not(:first-of-type) tr:first-child>* {
		border-top: 5px solid black;
	}

	table {
		border-left: 5px solid black;
		border-right: 5px solid black;
		border-bottom: 5px solid black;
	}

	tbody:hover {
		background: #555555;
	}

	th,
	td {
		padding: 5px;
		text-align: center;
		border: 1px solid black;
	}

	td:nth-child(12),
	td:nth-child(14) {
		background: green;
	}

	img.ingredientIcon {
		height: 32px;
		width: 32px;
	}

	span {
		text-align: right;
	}

	.itemName {
		font-weight: bold;
	}

	.Basic {
		color: #ffffff
	}

	.Fine {
		color: #62A4DA
	}

	.Masterwork {
		color: #1a9306
	}

	.Rare {
		color: #fcd00b
	}

	.Exotic {
		color: #ffa405
	}

	.Ascended {
		color: #fb3e8d
	}

	.Legendary {
		color: #4C139D
	}
</style>
<script>
	var app = angular.module("myApp", ['ngSanitize']);
	app
		.filter("coin", () => {
			return (input) => {
				var negative = input < 0;
				var coins = Math.abs(input).toFixed(0).toString().split("").reverse().join("").match(/.{1,2}/g).map(x => x.split("").reverse().join("")).reverse();
				if (coins.length >= 3) {
					var copper = "<span class=copper>" + coins.pop() + "</span>" + "<img src='https://wiki.guildwars2.com/images/e/eb/Copper_coin.png'>";
					var silver = "<span class=silver>" + coins.pop() + "</span>" + "<img src='https://wiki.guildwars2.com/images/3/3c/Silver_coin.png'>";
					var gold = "<span class=gold>" + coins.join("") + "</span>" + "<img src='https://wiki.guildwars2.com/images/d/d1/Gold_coin.png'>";
					return "<div class=neg" + negative + ">" + (negative ? "-" : "") + gold + silver + copper + "</div>";
				}
				if (coins.length == 2) {
					var silver = "<span class=silver>" + coins[0] + "</span>" + "<img src='https://wiki.guildwars2.com/images/3/3c/Silver_coin.png'>";
					var copper = "<span class=copper>" + coins[1] + "</span>" + "<img src='https://wiki.guildwars2.com/images/e/eb/Copper_coin.png'>";
					return "<div class=neg" + negative + ">" + (negative ? "-" : "") + silver + copper + "</div>";
				}
				if (coins.length == 1) {
					var copper = "<span class=copper>" + coins[0] + "</span>" + "<img src='https://wiki.guildwars2.com/images/e/eb/Copper_coin.png'>";
					return "<div class=neg" + negative + ">" + (negative ? "-" : "") + copper + "</div>";
				}
			}
		})
		.filter("disciplineFilter", () => {
			return (input, $scope) => {
				if (input == undefined) { return }
				return input.filter(recipe => {
					var validDiscipline = false;
					recipe[1].disciplines.forEach(discipline => {
						if ($scope.filter.disciplines[discipline].active == true && $scope.filter.disciplines[discipline].value >= recipe[1].min_rating) { validDiscipline = true }
					})
					if (validDiscipline) { return true }
				})
			}
		})
		.filter("sortByColumn", () => {
			return (input, $scope) => {
				if (input == undefined) { return }
				var output = input.sort((a, b) => {
					return $scope.sort.split('.').reduce((m, n) => m[n], b[1]) - $scope.sort.split('.').reduce((m, n) => m[n], a[1])
				})
				return output
			}
		})
		.controller('MainController', ['$scope', '$http', function ($scope, $http) {
			$scope.images = {
				"Armorsmith": "https://wiki.guildwars2.com/images/3/32/Armorsmith_tango_icon_20px.png",
				"Artificer": "https://wiki.guildwars2.com/images/b/b7/Artificer_tango_icon_20px.png",
				"Chef": "https://wiki.guildwars2.com/images/8/8f/Chef_tango_icon_20px.png	",
				"Huntsman": "https://wiki.guildwars2.com/images/f/f3/Huntsman_tango_icon_20px.png",
				"Jeweler": "https://wiki.guildwars2.com/images/f/f2/Jeweler_tango_icon_20px.png",
				"Leatherworker": "https://wiki.guildwars2.com/images/e/e5/Leatherworker_tango_icon_20px.png",
				"Scribe": "https://wiki.guildwars2.com/images/0/0b/Scribe_tango_icon_20px.png",
				"Tailor": "https://wiki.guildwars2.com/images/4/4d/Tailor_tango_icon_20px.png",
				"Weaponsmith": "https://wiki.guildwars2.com/images/4/46/Weaponsmith_tango_icon_20px.png",
			}

			$scope.filter = {
				disciplines: {
					"Armorsmith": { active: true, value: 500 },
					"Artificer": { active: true, value: 500 },
					"Chef": { active: true, value: 500 },
					"Huntsman": { active: true, value: 500 },
					"Jeweler": { active: true, value: 500 },
					"Leatherworker": { active: true, value: 500 },
					"Scribe": { active: true, value: 400 },
					"Tailor": { active: true, value: 500 },
					"Weaponsmith": { active: true, value: 500 }
				}
			}

			$scope.sort = "totalProfit";

			$scope.setSort = sort => {
				$scope.sort = sort;
			}

			$scope.getCraftingLevels = () => {
				var access_token = "32BFB384-BD6A-3246-AC4F-1681E2389BA5DB84D012-0D40-4EA9-B578-F35ABA955E46";
				$http.get("https://api.guildwars2.com/v2/characters?ids=all&access_token=" + access_token)
					.then(res => res.data)
					.then(characters => {
						Object.keys($scope.filter.disciplines).forEach(discipline => {
							$scope.filter.disciplines[discipline].value = 0;
						});

						characters.forEach(character => {
							character.crafting.forEach(crafting => {
								if ($scope.filter.disciplines[crafting.discipline].value < crafting.rating) {
									$scope.filter.disciplines[crafting.discipline].value = crafting.rating
								}
							})
						});
					});
			}

			$scope.autoRefresh = true;

			$scope.filteredRecipes = () => {
				$http.get("/data/filteredRecipes")
					.then(res => {
						$scope.recipes = res.data;
						$scope.safeApply();
					})
			}
			$scope.filteredRecipes();

			interval = setInterval(async () => {
				$scope.openWS();
			}, 300000)

			$scope.fetch = async (url, label) => {
				await $http.get(url)
					.then(res => {
						$scope.labels[label] = new Date();
					})
			}

			$scope.openWS = () => {
				$scope.ws = new WebSocket("ws:localhost:8081");

				$scope.ws.onopen = event => {
					console.log("WS open", event.data);
				};
				$scope.ws.onmessage = async message => {
					console.log(message.data);
					var messageJSON = JSON.parse(message.data);
					$scope.wsState = messageJSON.message;
					$scope.wsProgress = messageJSON.progress;
					$scope.safeApply();
				};
				$scope.ws.onerror = error => {
					console.log("WS error", error.data);
				};
				$scope.ws.onclose = event => {
					console.log("WS close", event.data);
					$scope.filteredRecipes();
				};
			};

			$scope.safeApply = function (fn) {
				var phase = this.$root.$$phase;
				if (phase == '$apply' || phase == '$digest') {
					if (fn && (typeof (fn) === 'function')) {
						fn();
					}
				} else {
					this.$apply(fn);
				}
			};
		}]);
</script>

<body ng-app="myApp">
	<div ng-controller="MainController" class="controller">
		<progress value="{{wsProgress}}" max="100"></progress>
		<input type="checkbox" ng-model="autoRefresh" id="autoRefresh"><label for="autoRefresh">Auto Update</label>
		<button ng-click="openWS()">Update</button>
		{{wsState}}
		<br>
		<div class="discipline" ng-repeat="(discipline,value) in filter.disciplines">
			<input type="checkbox" id="{{discipline}}" ng-model="filter.disciplines[discipline].active">
			<label for="{{discipline}}">{{discipline}}</label>
			<input type="number" min="0" max="500" step="25" ng-model="filter.disciplines[discipline].value">
		</div>
		<button ng-click="getCraftingLevels()" class="getCraftingLevels">Get Character Crafting Levels</button>
		<br>
		<br>
		<table cellspacing=0>
			<thead>
				<tr>
					<th colspan=2>Requirements</th>
					<th colspan=4>Ingredients</th>
					<th colspan=8>Output</th>
					<th rowspan=2>Links</th>
				</tr>
				<tr>
					<th>Crafting</th>
					<th>Level</th>

					<th>Icon</th>
					<th>Name</th>
					<th>Count</th>
					<th>Cost</th>
					<th>Links</th>

					<th>Icon</th>
					<th>Name</th>
					<th ng-click="setSort('totalCost')">
						Total Cost
						<span ng-if="sort == 'totalCost'">&#9660;</span>
						<span ng-if="sort != 'totalCost'">&#9661;</span>
					</th>
					<th ng-click="setSort('totalRevenue')">
						Sell Price
						<span ng-if="sort == 'totalRevenue'">&#9660;</span>
						<span ng-if="sort != 'totalRevenue'">&#9661;</span>
					</th>
					<th ng-click="setSort('profit')">
						Profit
						<span ng-if="sort == 'profit'">&#9660;</span>
						<span ng-if="sort != 'profit'">&#9661;</span>
					</th>
					<th ng-click="setSort('sellCount')">
						Sell Count
						<span ng-if="sort == 'sellCount'">&#9660;</span>
						<span ng-if="sort != 'sellCount'">&#9661;</span>
					</th>
					<th ng-click="setSort('totalProfit')">
						Total Profit
						<span ng-if="sort == 'totalProfit'">&#9660;</span>
						<span ng-if="sort != 'totalProfit'">&#9661;</span>
					</th>
				</tr>
			</thead>
			<tbody ng-repeat="recipe in recipes | disciplineFilter:this | sortByColumn:this">
				<tr>
					<td rowspan="{{recipe[1].ingredients.length}}">
						<span ng-repeat="discipline in recipe[1].disciplines"><img src="{{images[discipline]}}">{{discipline}}<br></span>
					</td>
					<td rowspan="{{recipe[1].ingredients.length}}">{{recipe[1].min_rating}}</td>

					<td>
						<img class="ingredientIcon" src="{{recipe[1].ingredients[0].data.icon}}">
					</td>
					<td class="itemName {{recipe[1].ingredients[0].data.rarity}}">{{recipe[1].ingredients[0].data.name}}</td>
					<td>{{recipe[1].ingredients[0].count}}</td>
					<td><span ng-bind-html="recipe[1].ingredients[0].data.sell | coin">{{recipe[1].ingredients[0].data.sell}}</span></td>
					<td>
						<a href="https://wiki.guildwars2.com/index.php?search={{recipe[1].ingredients[0].data.name}}">wiki</a>
						<a href="https://www.gw2tp.com/item/{{recipe[1].ingredients[0].item_id}}">gw2tp</a>
					</td>
					<td rowspan="{{recipe[1].ingredients.length}}">
						<img class="outputIcon" src="{{recipe[1].icon}}">
					</td>
					<td rowspan="{{recipe[1].ingredients.length}}" class="itemName {{recipe[1].rarity}}">{{recipe[1].output.name}}</td>
					<td rowspan="{{recipe[1].ingredients.length}}"><span ng-bind-html="recipe[1].totalCost | coin"></span></td>
					<td rowspan="{{recipe[1].ingredients.length}}"><span ng-bind-html="recipe[1].totalRevenue | coin"></span></td>
					<td rowspan="{{recipe[1].ingredients.length}}"><span ng-bind-html="recipe[1].profit | coin"></span></td>
					<td rowspan="{{recipe[1].ingredients.length}}"><span ng-bind-html="recipe[1].sellCount"></span></td>
					<td rowspan="{{recipe[1].ingredients.length}}"><span ng-bind-html="recipe[1].totalProfit | coin"></span></td>

					<td rowspan="{{recipe[1].ingredients.length}}">
						<a href="https://wiki.guildwars2.com/index.php?search={{recipe[1].output.name}}">wiki</a>
						<a href="https://www.gw2tp.com/item/{{recipe[1].output_item_id}}">gw2tp</a>
						<a href="https://www.gw2craftgold.com/recipe-details-{{recipe[1].id}}">gw2craftgold</a>
					</td>
				</tr>
				<tr ng-repeat="ingredient in recipe[1].ingredients" ng-if="$index > 0">
					<td>
						<img class="ingredientIcon" src="{{ingredient.data.icon}}">
					</td>
					<td class="itemName {{ingredient.rarity}}">{{ingredient.data.name}}</td>
					<td>{{ingredient.count}}</td>
					<td><span ng-bind-html="ingredient.data.sell | coin"></span></td>
					<td>
						<a href="https://wiki.guildwars2.com/index.php?search={{ingredient.data.name}}">wiki</a>
						<a href="https://www.gw2tp.com/item/{{ingredient.item_id}}">gw2tp</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>